body {

    background-image: url(../images/StockCake-Futuristic\ Technology\ Team_1714573976.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    background-position: 0 40px;
    background-blend-mode: soft-light;

/*    background-color: #f2f2f2; */
    background-color: #d9d9d9;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }
  
  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
  }
  